* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  color: #ffffff;
  background: #94618e;
  display: flex;
  justify-content: space-between;
}
/* Error Css */
.redColor {
  color: red;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header-item {
  align-items: center;
  display: flex;
}
li {
  padding-left: 19px;
  list-style-type: none;
  font-size: 18px;
}
html {
  height: 100%;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
}
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 350px;
  margin: 0 auto;
  padding: 2rem;
}
.form-input {
  border: 1px solid #eeeeee;
  padding: 12px;
  width: 100%;
}
.form-group {
  margin-bottom: 1rem;
}
.form-button {
  background: #94618e;
  border: none;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}
.form-button:hover {
  background: #94618e;
}
.form-header {
  text-align: center;
  margin-bottom: 2rem;
}
.form-footer {
  text-align: center;
}

/* Profile component css */
.p-container {
  display: flex;
}

.p-detail {
  flex: 1;
  border: 1px solid;
}

.p-about {
  flex: 2;
  border: 1px solid;
}

/* Table Css */
table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 0.3rem;
  text-align: center;
}
/* .altRow table {
  width: 100%;
} */
/* tr:nth-child(odd) {
  background: #f1f1f1;
}

td {
  padding: 1rem;
}



/* remove the padding for full width */
.altRow > td {
  padding: 0;
}
/* Loader Css */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8ad;
}
.loader {
  left: 50%;
  top: 30%;
  z-index: 1000;
  position: absolute;
}
